.movie-card {
  margin-bottom: 16px;
  background-color: hotpink;
  display: grid;
  width: 250px;
}

.movie-title {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
}

.movie-description {
  font-size: 16px;
  font-style: italic;
}

.movie-year {
  font-size: 12px;
  color: red;
  font-weight: bold;
}

.movie-director {
  font-size: 12px;
  color: black;
  font-weight: bold;
}
